.smallform{
    background-color: #727272;
}

.smallform__inps{
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
}

.smallform__inps--type{
    width: 33.32%;
}

.smallform__inps--type,
.smallform__inps--status,
.smallform__inps--budget,
.smallform__inps--btn{
    width: 16.66%;
}